.list {
    text-align: left;
    margin-top: 60px;
}
.posts__title {
    text-align: center;
    margin-top: 30px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 36px;
}
.posts__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.posts__pages {
    margin: 20px 0 40px;
    display: flex;
    justify-content: space-between;
}
.posts__button {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.posts__prev {
    background-image: url("../images/arrow-left.svg");
}
.posts__next {
    background-image: url("../images/arrow-right.svg");
}