body {
    margin: 0;
}
p {
    margin: 0;
}
h1,h2 {
    margin: 0;
}

.mainPost {
    margin: 60px auto 40px;
    width: 60%
}
.home__id {
    color: #999999;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    margin: 0;
}
.home__title {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 36px;
    margin-top: 5px;
}
.home__body {
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    color: #666666;
    margin-top: 27px;
}
.home__author {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 700;
    margin-top: 28px;
}
.home__restPosts {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.view_more {
    display: block;
    margin: 30px auto 50px;
    padding: 21px 26px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 11px;
    width: 205px;
    height: 60px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 700;
}
.center {
    text-align: center;
}
.post__link {
    text-decoration: none;
    color: black;
}
