body {
    margin: 0;
}
p {
    margin: 0;
}
h1,h2 {
    margin: 0;
}

.mainPost {
    margin: 60px auto 40px;
    width: 80%;
}
.mainPost__flex {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.mainPost__photo {
    flex-basis: 400px;
}
.mainPost__img {
    width: 100%;
    height: 100%;
}
.home__id {
    color: #999999;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    margin: 0;
}
.home__title {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 36px;
    margin-top: 5px;
}
.home__body {
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    color: #666666;
    margin-top: 27px;
}
.home__author {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    font-weight: 700;
    margin-top: 28px;
}
.home__restPosts {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.view_more {
    display: block;
    margin: 30px auto 50px;
    padding: 21px 26px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 11px;
    width: 205px;
    height: 60px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 700;
    color: black;
}
.center {
    text-align: center;
}
.margin-auto {
    margin: 20px auto;
}
.post__link {
    text-decoration: none;
    color: black;
}
.posts__photo {
    width: 300px;
    margin: 40px auto;
}
.posts__img {
    width: 100%;
    height: 100%;
}
.posts__main {
    min-height: calc(100vh - 91px - 100px - 137px);
}

@media (max-width: 1200px) {
    .mainPost__flex {
        flex-wrap: wrap;
    }
}

@media (max-width: 430px) {
    .mainPost {
        width: 80%;
    }
    .posts__photo {
        width: 150px;
    }
}
